<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>회원가입</h1>
    <form name="form_register">
        <label for="userid">ID</label>
        <input type="text" id="userid" name="userid" required>

        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>

        <label for="nickname">Name</label>
        <input type="text" name="nickname" id="nickname" required>

        <button type="button" onclick="register()">Register</button>
    </form>
    <a href="/user/signin">로그인</a>

    <script>
        function register(){
            alert('로그인 폼 register함수')
            const form=document.forms['form_register'];
            if(!form.checkValidity()){
                form.reportValidity()
                return
            }
            axios({
                method: 'post' ,
                url:'/user/signup'  ,
                data: {
                userid:  form.userid.value,
                    pw: form.pw.value,
                    name : form.name.value
                }
            }).then(res=>{
                console.log('회원가입 ? axios > res 받아옴')
                alert('회원가입 성공')
                document.location.href='/user/signin'
                // 다른 경로로 다시 보내겠다.
            })
        }
    </script>
</body>
</html>