<!DOCTYPE html>
<html lang="ko">
<%- include('./partials/head.ejs') %>
<body>
    <h1>Create</h1>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h1>Create</h1>
    <div class="create-blog content">
        <form action="">
            <label for="body">Blog</label>
            <textarea name="" id="body" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>