<!DOCTYPE html>
<html lang="ko">
<%- include('./partials/head.ejs') %>
<body>
    <h1>HOME</h1>
    <nav>
        <%- include('./partials/nav.ejs') %>  
    </nav>
    <h1>HOME</h1>
    <p class="blogs content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non amet accusantium nam. Adipisci accusantium suscipit numquam vero repudiandae magni natus voluptatem magnam corrupti expedita, praesentium dolore modi quisquam nisi fugit.</p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>