<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/login" method="get">
        <label for="id">ID
            <input type="text" name="id" id="id" placeholder="ID는 최소 3글자" minlength="3">
        </label>
        

        <label for="pw">PW
            <input type="password" name="pw" id="pw" placeholder="PW">
        </label>

        <input type="number" name="grade" placeholder="GRADE" id="4">

        <button>제출</button>
    </form>
</body>
</html>