<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form 양식</h1>
    <h2>Get 방식</h2>
    <form action="/login" method="get">
        <label for="id">ID:</label>
        <input type="text" id="id" name="myid" placeholder="3글자 이상" minlength="3"> <br />
        <label for="pw">비번:</label>
        <input type="password" name="mypw" placeholder="비번 입력" id="pw" required>
        <input type="submit">
    </form>
</body>
</html>