.div {
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: red;
    border-bottom: 7px solid green;
    border-top: 4px dashed blue;
    border-right: 1px solid skyblue;
    border-radius: 0 50px 10px 100px;
}

.div1, .div2 {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}

.div2 {
    box-sizing: border-box;
}