div {
    position: relative;

    animation-name: text;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

@keyframes text {
    to {
        left: 0;
        width: 100%;
    }
    from {
        left: 100%;
        width: 300%;
    }
}