.container {
    width: 500px;
    height: 500px;
    background-color: pink;
}

.container > div {
    width: 100px;
    height: 100px;
}

.item1 {
    position: relative;
    left: 50px;
    top: 30px;
    background-color: aquamarine;
}

.item2 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: gold;
}

.item3 {
    background-color: coral;
    position: fixed;
    top: 100px;
    right: 100px;
}