header {
    background-color: #ccc;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.left-box {
    display: flex;
    align-items: center;
}

.menus {
    display: flex;
    /* ul태그가 기본적으로 가지고 있는 스타일을 없앤다. */
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 16px;
}

/* 마지막에 필요없는 간격은 지우려면 not사용 */
.menu:not(:nth-child(3)) {
    margin-right: 16px;
}

.right-box {
    display: flex;
    align-items: center;
}

.signup {
    margin-left: 16px;
}