<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog <%=title %></title>
</head>
<body>
    <h1>About</h1>
    <nav>
        <div>
            <a href="#"><h1>Blog~~</h1></a>
            <p>A my first blog</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </ul>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque dolorum aspernatur, quaerat inventore quis qui nesciunt officiis nam magni ratione ipsam nostrum earum exercitationem magnam, nihil amet quisquam veniam modi.</p>
</body>
</html>