// 변수를 모아두는 곳
// scss 파일명 앞에 _ 의미 : css 파일로 변환될 필요가 없음을 알려주는 것

// - 변수 선언 : $ 키워드 사용
$color-first : red;
$color-second : orange;
$color-third : yellow;
$color-four : green;
$color-five : pink;

$color-six : cornflowerblue;
$color-seven : white;
$color-eight : aliceblue;
$color-nine : grey;


$animation-duration : 0.4s;